.characterImg{
  height: 78px;
  width:78px;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
}
.characterIcon{
  height: 33%;
  width: 11%;
}
.droppable{
  display: flex;
  align-self: center;
}
.characterSelectionGrid{
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  max-width: 750px;

}
.mainGridWrapper{
  display:grid;
  grid-template-columns: 1fr 5fr;
}
.rightSideMenu{
  /* to do*/
}

.contentBody{
  display:flex;
  flex-direction: column;  
  background-color: rgb(30, 32, 32);
}
.tierListRow{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 82px;
  border: 1px solid black;
}
.tierListRowHighlighted{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 82px;
  background-color:rgb(47, 51, 51);
  border: 1px solid black;
}
.rowLabelWithContextMenu{
  display:flex;
  flex-direction:row;
}
.rowLabelWrapper{
  display: flex;
  flex-direction: column;
  height: 82px;
  width: 100px;
  background-color:rgb(226, 238, 238);
}
.expandButton{
  width:25px;
  height:25px;
  font-weight: bold;
  font-size: 18;
  margin-left: auto;
  background-color: transparent;
  border-style: none;
}
.rowLabelText{
  overflow: hidden;
  resize: none;
  text-align: center;
  font-weight: bold;
  font-size: 18;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0px,2px,2px,2px;
  flex: 1;
}
.contextMenu{
  background-color:rgb(226, 238, 238);
  display:flex;
  flex-direction: column;
}
.contextMenuOption{
  outline: none;
}