body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.characterIcon{
  height: 75px;
  width:75px;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
}
.characterSelectionWindow{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
}
.characterSelectionGrid{
  display: grid;
  grid-template-columns: repeat(9,80px);
  grid-template-rows: repeat(3,80px);
  padding: 25px;
  background-color: rgb(30, 32, 32);
  border-radius: 10px;
  margin: auto;
  grid-row-start: 2;
  grid-column-start: 2;
}
.mainGridWrapper{
  display:grid;
  grid-template-columns: 1fr 5fr;
}
.rightSideMenu{
  background-color: blue;
}
.contentBody{
  display:grid;
  grid-template-rows: 2fr 1fr;
}
